* {margin:0;
   box-sizing: border-box;}

body {
  background-color: white;
  color:black;
  font-family: Quicksand;
  font-weight: 500;
  
}

#top-cards, #middle, #bottom{
  height: 280px;
  width:auto;
  margin: 30px;
  
}



div{
  display: block;
}

#top-cards{
  width:90hw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;

}

#top-left{
  height: 280px;
  
  padding:10px;
 
}

#top-right{
  height: 280px;
  
 padding:10px;
 
}


.text{
  background-color: black;
  color:white;
  text-align: left;
  margin: 5px;
  padding:10px; 
  width:380px;
  
}

.line{
  background-color: white;
  color:black;
  
  padding:10px;
  width:380px;
  line-height: 1.2em;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.text2{
  padding:10px;
  width: 340px;
}

.text3{
  width: 32%;
  background-color: white;
  color:black;
 
 
  padding: 10px;
  width:340px;}

 #top-right{ 
  border: 1px solid black;
  border-radius: 12px;
  margin:10px 25px;
 
  padding: 15px;
  
  
 }

#middle{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin:15px;
  padding:10px;
 
}
#left-middle{
  
  margin:10px;
  height: 280px;
}

 #right-middle{
  margin: 10px;
  margin-left:25px;
 padding: 25px;
 height: 280px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: black;
  color: white;
 }

.title{
  line-height: 2.0rem;
}

.prof{
  color: darkslateblue;
}

#bottom{
  border: 2px solid black;
  
  margin: 55px 35px;
  padding:25px;
 
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.text4{
  text-align: center;
}

.photos{
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}


.arrow{
  margin:10px;
  margin-top:25px;
  margin-left: 40px;
  margin-right: 40px;;
  width: 25px;
  height:25px;
  
}

.small2{
  
  width: 55px;
  height:55px;
  margin:10px;
  border-radius: 50%;
}

.fade {
  opacity:55%;
}

.rounded{
  border-radius: 12px;
}

.triangle{
 
  position: relative;
  left:35px;
  top: 30px;
}

.small{
  height: 100px;
  width:100px;
  border-radius:50%;
}

.big {
  width: 280px;
  height: 280px;
  padding: 0px;;
  
}


h3, h4{
  text-align: left;
}

h3{ padding-top:8px;}

h4{ padding-top:8px;}