* {margin:0;
   box-sizing: border-box;}

body {
  background-color: white;
  color:black;
  margin:8px;
}

#top-cards, #middle, #bottom{
  height: 260px;
  width: 90%;
  margin-top: 35px;
}



div{
  display: block;
}

#top-cards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

#top-left, #top-right{
  height: 280px;
  
  padding-top:15px;
}

.text{
  background-color: black;
  color:white;
  text-align: left;
 /*  margin: 15px;*/
  padding:10px; 
  width:340px;
  
}

.line{
  background-color: white;
  color:black;
  margin: 15px;
  padding:10px 5px;
  width:340px;
  line-height: 1.2em;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.text2{
  padding:10px 15px;
  width: 340px;
}

.text3{
  width: 32%;
  background-color: white;
  color:black;
 
  margin:15px;
  padding: 10px;
  width:340px;}

 #top-right{ 
  border: 1px solid black;
  border-radius: 12px;
  
}

.rounded{
  border-radius: 12px;
}


.small{
  height: 100px;
  width:100px;
  border-radius:50%;
}

.big {
  width: 310px;
  height: 310px;
  
}

h3, h4{
  text-align: left;
}

h3{ padding-top:8px;}

h4{ padding-top:8px;}